@charset "utf-8";
/* CSS Document */


.wrapper{
	background-color: #2B3968;
}

.pfeil{
text-align: center;	
padding-top: 15px;
}

.illustration{
	text-align: right;
	
}

.illustration2{
	padding-right: 30px;
	position: absolute;
	padding-left: 1100px;
	padding-top: 10px;
}

.girlande{
	padding-left: 20px;position: absolute;
}
.text1{
	font-family: 'Kristi', cursive;
	font-size: 200px;
	color: white;
	position: absolute;
	z-index: 1;
	padding-left: 155px;
	padding-top: 40px;
}

.text3{
	font-family: 'Kiwi Maru';
	font-size: 50px;
	color: white;
	padding-left: 50px;
	padding-top: 35px;
    position: absolute;
	z-index: 2;
}

.text4{
	border: dashed #15C8D7 3px;
	text-align: center;
	width: 600px;
	position: center;
	background-color: #BC0382;
	color: #976566;
	animation: blinker 1s linear infinite;
	font-family:'Kiwi Maru';
	padding-left: 15px;
	padding-right: 30px;
	padding-top: 40px;
	font-size: 25px;
	padding-bottom: 40px;
}

.text5{
	border: dashed red 3px;
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #D0FF00;
	color: #00D3FF;
	animation: blinker 2s linear infinite;
	font-family:'Kiwi Maru';
	padding-left:15px;
	padding-right:15px;
	padding-top: 40px;
	font-size: 30px;
	padding-bottom: 40px;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a{
	text-align: center;
	visited: green;
}

.eins{
	text-align: left;
	padding-top: 60px;
}

.zwei{
	text-align: right;
	padding-top: 40px;
}

.drei{
	text-align: left;
	padding-top: 40px;
}

.vier{
	text-align: right;
	padding-top: 40px;
}

.fuenf{
	text-align: left;
	padding-top: 40px;
}

.sechs{
	text-align: right;
	padding-top: 40px;
}

.sieben{
	text-align: left;
	padding-top: 40px;
}

.acht{
	text-align: right;
	padding-top: 40px;
}

.neun{
	text-align: left;
	padding-top: 40px;
}

.zehn{
	text-align: right;
	padding-top: 40px;
}

.elf{
	text-align: left;
	padding-top: 40px;
}

.zwoelf{
	text-align: right;
	padding-top: 40px;
}

.dreizehn{
	text-align: left;
	padding-top: 40px;
}

.vierzehn{
	text-align: right;
	padding-top: 40px;
}

.fuenfzehnn{
	text-align: left;
	padding-top: 40px;
}

.sechszehn{
	text-align: right;
	padding-top: 40px;
}

.siebzehn{
	text-align: left;
	padding-top: 40px;
}

.achtzehn{
	border: solid white 11px;
}

.neunzehn{
	text-align: right;
	padding-top: 40px;
}

.zwanzig{
	text-align: left;
	padding-top: 40px;
}

.einundzwanzig{
	text-align: right;
	padding-top: 40px;
}

.zweiundzwanzig{
	text-align: right;
	padding-top: 40px;
}

.dreiundzwanzig{
	text-align: left;
	padding-top: 40px;
}

.vierundzwanzig{
	text-align: left;
	padding-top: 40px;
}

.text2{
	text-align: center;
	padding-top: 40px;
	font-size: 18px;
	font-family: 'Kiwi Maru';
	color: white;
	
}

.abschlussfahrt1{
	text-align: right;
	width: 800px;
	padding-top: 40px;
}

.abschlussfahrt2{
	text-align: center;
	padding-top: 40px;
}

.abschlussfahrt3{
	text-align: center;
	padding-top: 40px;
}

.abschlussfahrt4{
	text-align: center;
	padding-top: 40px;
}

.abschlussfahrt5{
	text-align: center;
	padding-top: 40px;
}

.fuenfundzwanzig{
	text-align: right;
	padding-top: 40px;
}

.sechsundzwanzig{
	text-align: left;
	padding-top: 40px;
}

.siebenundzwanzig{
	text-align: left;
	padding-top: 40px;
}

.achtundzwanzig{
	text-align: right;
	padding-top: 40px;
}

.neunundzwanzig{
	text-align: left;
	padding-top: 40px;
}

.vid1{
	text-align: right;
	padding-top: 40px;
}

.dreizig{
	text-align: right;
	padding-top: 40px;
}

.einunddreizig{
	text-align: left;
	padding-top: 40px;
}

.zweiunddreizig{
	text-align: right;
	padding-top: 40px;
}

.dreiunddreizig{
	text-align: right;
	padding-top: 40px;
}

.vid2{
	text-align: left;
	padding-top: 40px;
}

.vierunddreizig{
	text-align: center;
	padding-left: 190px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.wrapper2{
	background-color: #1AFF00;
}

.sechsunddreizig{
	text-align: right;
	padding-top: 40px;
}

.siebenunddreizig{
	padding-left: 50px;
	padding-top: 40px;
}

.no{
	color: cadetblue;
	text-align: center;
	text-decoration: none;

}

button{
	text-decoration: none;
	padding-bottom: 0px;
	padding: 20px;
}

a{
	text-decoration: none;
	color:black;
}
.hi{
	background-color: black;
	text-align: center;
	color: red;
	font-family: 'Kiwi Maru';
	padding-top: 70px;
}

.fuenfunddreizig{
	text-align: left;
	padding-bottom: 40px;
}