@charset "utf-8";
/* CSS Document */


.wrapper{
	background-color: #2B3968;
}

.pfeil{
text-align: center;	
padding-top: 15px;
}

.illustration{
	text-align: right;
	
}

.text1{
	font-family: 'Kiwi Maru';
	font-size: 50px;
	color: white;
	padding-left: 5px;
}

.spotify{
	text-align: center;
}
.eins{
	text-align: left;
	padding-top: 60px;
}

.zwei{
	text-align: right;
	padding-top: 40px;
}

.drei{
	text-align: left;
	padding-top: 40px;
}

.vier{
	text-align: right;
	padding-top: 40px;
}

.fuenf{
	text-align: left;
	padding-top: 40px;
}

.sechs{
	text-align: right;
	padding-top: 40px;
}